<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all">
    <test name="all">
        <classes>
            <class name="steps.AboutPageTests"/>
            <class name="steps.ContactPageTests"/>
            <class name="steps.LoginPageSteps"/>
            <class name="steps.HomePageTests"/>
        </classes>
    </test>
</suite>